// SidebarIcon.scss
.SidebarIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 20px;
    z-index: 1000;
    position: relative;

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #fff;
    }
  
    .bar {
      width: 100%;
      height: 4px;
      background-color: #7f8a99;
      transition: transform 0.3s ease, opacity 0.3s ease;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
  
    &.open {
      position: fixed;
      top: 30px;
      .bar{
        background-color: #AD7BE9;
      }
      .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
  
      .bar:nth-child(2) {
        opacity: 0;
      }
  
      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  