.Identification {
    button {
      width: 150px;
      height: 50px;
      padding: 10px;
      background-color: rgba($color: #ea63ff, $alpha: 0.8);
      border-radius: 25px;
      border: none;
      outline: none;
      cursor: pointer;
  
      font-size: 1rem;
      font-family: var(--font-family);
      font-weight: 700;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      line-height: 1.5;
      text-align: center;
      color: #ffffff;
  
      transition: all 0.25s ease-in-out;
  
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      &:hover {
        background-color: rgba($color: #ea63ff, $alpha: 1);
      }
  
      svg {
        width: 25px;
        height: 25px;
        font-family: var(--font-family);
      }
    }
  
    .Video{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  
      .VideoContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    
        video {
          border-radius: 20px;
        }
    
        canvas {
          position: absolute;
          border-radius: 20px;
        }
      }
      .CriminalIdModal {
        height: 300px;
        width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        background-color: rgba(255, 255, 255, 0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    
        h1 {
          font-size: 2rem;
          font-family: var(--font-family);
          font-weight: 700;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          line-height: 1.5;
          text-align: center;
          color: rgba($color: #f0f0f0, $alpha: 1);
        }
    
        .CriminalId {
          background-color: rgba(255, 255, 255, 0.13);
          border-radius: 10px;
          backdrop-filter: blur(10px);
          border: 2px solid rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 50px;
          font-size: 1.5rem;
          cursor: pointer;
    
          &:hover {
            background-color: rgba(255, 255, 255, 0.2);
          }
    
          svg{
            position: absolute;
            right: 10px;
          }
        }
      }
    }
  }
  