.Stations {
    background-color: #000;
    padding: 70px;
    position: relative;


    height: 100%;


    .Back {
        color: #fff;
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin-bottom: 10px;

        top: 15px;
        left: 15px;
        position: absolute;

    }

    .Wrapper {
        display: flex;

        .Left {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 25px;

            .Top {
                .Heading {
                    font-size: 2.5rem;
                    font-family: var(--font-family);
                    font-weight: 700;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    color: #000000;

                    display: flex;
                    flex-direction: column;

                    .Reg {
                        color: #FFFFFF;
                    }

                    .Compl {
                        color: #6044D8;
                    }
                }
            }

            .Mid {
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    font-size: 1.2rem;
                    color: #b5b5b5;
                    display: block;
                    width: 350px;
                }
            }

            .Bottom{
                .Illustration{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;

                    img{
                        width: 800px;
                        height: 100%;
                        mix-blend-mode: exclusion;
                    }
                }
            }
        }

        .Right {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 50px;

            .Logo{

            }
            .Search {
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(255, 255, 255, 0.11);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.9px);
                -webkit-backdrop-filter: blur(4.9px);
                border: 1px solid rgba(255, 255, 255, 0.36);

                border-radius: 10px;

                .Input {
                    width: 100%;
                    padding: 10px;


                    input {
                        border: none;
                        background-color: transparent;
                        outline: none;
                        width: 100%;
                        font-weight: 700;
                        color: #777;


                        &::placeholder {
                            color: #b5b5b5;
                            font-size: 0.8rem;
                        }


                    }
                }

                .Location {
                    padding: 10px;
                    color: #b5b5b5;
                    font-size: 0.8rem;
                    font-weight: 700;
                    border-left: 1px solid #fff;

                    cursor: pointer;

                }
            }

            .Authenticate{
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;


                    transition: all 0.3s ease-in-out;
                    background: rgb(96,68,216);
                    background: linear-gradient(90deg, rgba(96,68,216,1) 0%, rgba(185,20,211,1) 78%);
                    border-radius: 50px;
                    border: none;
                    padding: 10px 30px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 1.5rem;
                    cursor: pointer;

                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                    &:hover{
                        scale: 1.1;
                    }

                    
                }
            }

        }

           
    }
}