
.Parallax {
    height: 100vh;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  
    display: flex;
    flex-direction: column;
  
    overflow: hidden;
  
    position: relative;
  
    .Parallax-Container {
      display: flex;
      margin-top: -100px;
      justify-content: space-around;
  
      height: 100%;
  
      .Prison-Bar {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
  
        &.Bar-1 {
          z-index: 1;
        }
  
        &.Bar-2 {
          position: relative;
  
          .LH {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-58%, -47%);
          }
        }
  
        &.Bar-4 {
          position: relative;
  
          .RH {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-45%, -48%);
          }
        }
      }
    }
  
    .Logo {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 2;
  
      color: #fafafa;
      font-size: 3rem;
  
      .S {
        color: #e90064;
      }
  
      .B {
        color: #865dff;
      }
    }
  }

  