@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

:root{
//Variables
--main-color : #0b0b0b;
--font-family : 'Headland One', sans-serif;
--font-family2 : 'Jost', sans-serif;
--background-color: #2B2B2B;
--button-color: #D91B80;
--button-color2: #865DFF;
--font-color: #EEEEEE;
--primary-color: #2B2B2B;
--main-color: #000;
--white: #FFFFFF;
--bluish-purple: #6044D8;
--lavender: #B6A6F8;
--boulder: #7A7A7A;
--wild-strawberry: #FF3DA9;
--raspberry: #e90064;
--quaternary-color: #FFC947;
--onyx: #1A1A1A;
}

body{
    margin: 0;
    background-color: var(--primary-color);
    
    .Link{
        text-decoration: none;
        color: inherit;
    }
}
