.ViewCriminal {
    height: 100vh;
    background-color: var(--main-color);
    overflow: hidden;

    .Container {
        position: relative;
        width: 100%;
        height: 100%;

        .Back {
            position: absolute;
            left: 25px;

            .back {
                width: 50px;
                height: 100px;
                color: grey;
            }
        }

        .ViewHistory {
            position: absolute;
            top: 50%;
            left: 9%;

            .show {
                border-radius: 50px;
                padding: 5px 20px 5px 20px;
                border: none;
                background: rgb(96, 68, 216);
                background: linear-gradient(90deg, rgba(96, 68, 216, 1) 0%, rgba(185, 20, 211, 1) 78%);
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: rgba($color: #6044D8, $alpha: 1);
                    scale: 1.1;
                }
            }
        }

        .Shape {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
        }

        .Shape.First {
            position: absolute;
            left: 13%;
            top: -20%;
            background: linear-gradient(90deg, rgba(120, 20, 87, 0.49) 2.60%, #FF3DA9 100%);
            box-shadow: 0px 0px 1.6799999475479126px 0px #D91B80, 0px 0px 3.359999895095825px 0px #D91B80, 0px 0px 11.760000228881836px 0px #D91B80, 0px 0px 23.520000457763672px 0px #D91B80, 0px 0px 40.31999969482422px 0px #D91B80, 0px 0px 70.55999755859375px 0px #D91B80;
        }

        .Shape.Second {
            position: absolute;
            right: -7%;
            top: 35%;
            background: linear-gradient(68deg, rgba(55, 78, 198, 0.85) 0%, rgba(132, 167, 220, 0.77) 53.13%, rgba(11, 35, 121, 0.85) 100%);
            box-shadow: 0px 0px 1.6799999475479126px 0px #AE97DD, 0px 0px 3.359999895095825px 0px #AE97DD, 0px 0px 11.760000228881836px 0px #AE97DD, 0px 0px 23.520000457763672px 0px #AE97DD, 0px 0px 40.31999969482422px 0px #AE97DD, 0px 0px 70.55999755859375px 0px #AE97DD;
        }

        .Shape.Third {
            position: absolute;
            bottom: -20%;
            left: 13%;
            background: linear-gradient(68deg, #B0C7E8 0%, rgba(160, 132, 220, 0.91) 53.13%, rgba(111, 99, 193, 0.98) 84.90%, #645CBB 100%);
            box-shadow: 0px 0px 1.6799999475479126px 0px #AE97DD, 0px 0px 3.359999895095825px 0px #AE97DD, 0px 0px 11.760000228881836px 0px #AE97DD, 0px 0px 23.520000457763672px 0px #AE97DD, 0px 0px 40.31999969482422px 0px #AE97DD, 0px 0px 70.55999755859375px 0px #AE97DD;
        }


        .Wrapper {
            display: flex;
            flex-direction: row;
            position: relative;
            top: 7.5%;
            left: 25%;


            .LeftCard {
                display: flex;
                flex-direction: column;
                position: relative;
                //transform: perspective(600px) rotateY(-6deg) rotateX(3deg) rotate(0deg);
                left: 10px;
                width: 500px;
                height: 600px;
                border-radius: 25px;
                border: 3px solid rgba(0, 0, 0, 0.50);
                background: linear-gradient(180deg, rgba(138, 138, 138, 0.06) 0.02%, rgba(182, 182, 182, 0.14) 0.03%);
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(22.5px);

                .Top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                    padding-top: 25px;

                    .ImgContainer {
                        width: 400px;
                        height: 200px;
                        overflow: hidden;
                        
        
                        .ImgWrapper{
                            width: max-content;
                            height: 100%;
                            display: flex;
                            transition: transform 0.75s ease-in-out;
        
                            .Slide{
                                width: 400px;
                                height: 100%;
        
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
        
                    }

                    .arrow {
                        width: 50px;
                        height: 100%;
                        background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.5));
                        backdrop-filter: blur(10px);
                        -webkit-backdrop-filter: blur(10px);
                        color: #fff;
                        z-index: 99;
                        cursor: pointer;
                        &.left {
                            position: relative;
                            left: 50px;
                        }
                        &.right{
                            position: relative;
                            right: 50px;
                        }
                    }

                }

                .Mid {
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    gap: 20px;
                    top: 10%;
                    left: 5%;

                    .MidLeft {
                        img {
                            width: 130px;
                            height: 130px;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                    }

                    .MidRight {
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        position: relative;


                        .Firstline {
                            display: block;
                            width: 300px;
                            color: #fff;
                            font-family: var(--font-family);
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                            .Country {
                                background-color: rgba(100, 92, 187, 0.50);
                                border-radius: 5px;
                                mix-blend-mode: color-dodge;
                                font-size: 1.2rem;
                                padding: 5px 5px 5px 5px;

                            }

                            .CountryName {
                                font-size: 1.2rem;
                            }
                        }

                        .Secondline {
                            display: block;
                            width: 300px;
                            color: #fff;
                            font-family: var(--font-family);
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                            .State {
                                background-color: rgba(100, 92, 187, 0.75);
                                border-radius: 5px;
                                mix-blend-mode: color-dodge;
                                font-size: 1.2rem;
                                padding: 5px 5px 5px 5px;
                            }

                            .statename {
                                font-size: 1.2rem;
                            }
                        }

                        .Thirdline {
                            display: block;
                            width: 300px;
                            color: #fff;
                            font-family: var(--font-family);
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                            .city {
                                background-color: rgba(100, 92, 187, 0.75);
                                border-radius: 5px;
                                mix-blend-mode: color-dodge;
                                font-size: 1.2rem;
                                padding: 5px 5px 5px 5px;
                            }

                            .cityname {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }

                .Bottom {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    gap: 20px;
                    top: 20%;
                    left: 10%;

                    .First {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        text-align: justify;
                        gap: 50px;
                        width: 400px;
                        color: #fff;
                        font-family: var(--font-family);
                        border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                        .ID {
                            font-size: 1.2rem;
                            color: gray;
                        }

                        .Text {
                            background-color: rgba(100, 92, 187, 0.50);
                            border-radius: 5px;
                            mix-blend-mode: color-dodge;
                            font-size: 1.2rem;
                            padding: 5px 5px 5px 5px;
                        }
                    }

                    .Second {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        text-align: justify;
                        gap: 50px;
                        width: 400px;
                        color: #fff;
                        font-family: var(--font-family);
                        border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                        .ID {
                            font-size: 1.2rem;
                            color: gray;
                        }

                        .Text {
                            background-color: rgba(100, 92, 187, 0.50);
                            border-radius: 5px;
                            mix-blend-mode: color-dodge;
                            font-size: 1.2rem;
                            padding: 5px 5px 5px 5px;
                        }
                    }
                }
            }

            .RightCard {
                position: relative;
                //transform: perspective(600px) rotateY(-6deg) rotateX(3deg) rotate(-2deg);
                top: -55px;
                left: -10px;
                width: 550px;
                height: 700px;
                border-radius: 25px;
                border: 3px solid rgba(0, 0, 0, 0.50);
                background: linear-gradient(180deg, rgba(138, 138, 138, 0.06) 0.02%, rgba(182, 182, 182, 0.14) 0.03%);
                box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(22.5px);

                .CriminalProfile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    top: 5%;

                    img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    h1 {
                        font-family: var(--font-family);
                        font-size: 30px;
                        color: #AE97DD;
                    }
                }

                .CriminalInfo {
                    position: relative;
                    top: 15%;
                    left: 10%;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .First {
                        display: block;
                        width: 400px;
                        color: #fff;
                        font-family: var(--font-family);
                        border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                        .Name {
                            background-color: rgba(100, 92, 187, 0.50);
                            border-radius: 5px;
                            mix-blend-mode: color-dodge;
                            font-size: 1.2rem;
                            padding: 5px 5px 5px 5px;
                        }

                        .text {
                            font-size: 1.2rem;
                        }
                    }

                    .Format {
                        display: flex;
                        flex-direction: row;
                        gap: 30px;

                        .Second {
                            display: block;
                            width: 200px;
                            color: #fff;
                            font-family: var(--font-family);
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                            .DOB {
                                background-color: rgba(100, 92, 187, 0.50);
                                border-radius: 5px;
                                mix-blend-mode: color-dodge;
                                font-size: 1.2rem;
                                padding: 5px 5px 5px 5px;
                            }

                            .text {
                                font-size: 1.2rem;
                            }
                        }

                        .Third {
                            display: block;
                            width: 200px;
                            color: #fff;
                            font-family: var(--font-family);
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                            .Gender {
                                background-color: rgba(100, 92, 187, 0.50);
                                border-radius: 5px;
                                mix-blend-mode: color-dodge;
                                font-size: 1.2rem;
                                padding: 5px 5px 5px 5px;
                            }

                            .text {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    .Fourth {
                        display: block;
                        width: 400px;
                        color: #fff;
                        font-family: var(--font-family);
                        border-bottom: 2px solid rgba(100, 92, 187, 0.50);

                        .Mob {
                            background-color: rgba(100, 92, 187, 0.50);
                            border-radius: 5px;
                            mix-blend-mode: color-dodge;
                            font-size: 1.2rem;
                            padding: 5px 5px 5px 5px;
                        }

                        .text {
                            font-size: 1.2rem;
                        }
                    }

                    .Fifth {
                        display: block;
                        width: 400px;
                        line-height: 40px;
                        color: #fff;
                        font-family: var(--font-family);

                        .Address {
                            background-color: rgba(100, 92, 187, 0.50);
                            border-radius: 5px;
                            mix-blend-mode: color-dodge;
                            font-size: 1.2rem;
                            padding: 5px 5px 5px 5px;
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);
                        }

                        .text {
                            border-bottom: 2px solid rgba(100, 92, 187, 0.50);
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}