.DashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 4rem;
    width: 100%;
    color: #fff;
    box-shadow: 0 0 0.5rem var(--color-black);
    z-index: 1000;

    .Icon {
        font-size: 1.7rem;
        cursor: pointer;
        color: #7f8a99;

        transition: all 0.3s ease-in-out;

        &:hover {
            color: #fff;
        }
    }

    .Siderbar {}

    .Heading {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;

        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.9px);
        -webkit-backdrop-filter: blur(4.9px);
        border: 1px solid rgba(0, 0, 0, 0.36);
        border-radius: 25px;

        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);


        .Notice {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .Location {
            padding: 0px 5px;
            color: #b5b5b5;
            font-size: 0.8rem;
            font-weight: 700;
            border-left: 1px solid #b5b5b5;
        }
    }

    .Icons {
        display: flex;
        align-items: center;
        gap: 2rem;

    }
}